<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head></head>

<body>

	<th:block th:fragment="body-word-banner">
	
			<!-- start word banner -->
            <section class="section section--no-pt">
                <div class="container">
                    <div class="special-offer special-offer--style-2">
                        <h2 class="text  text-center">
                            <span style="color: #635729">Healthy</span>
                            <span style="color: #ff6262">life</span>
                            <span style="color: #ffbb4c">with</span>
                            <span style="color: #fcdb5a">fresh</span>
                            <span style="color: #5e9a4b">products</span>
                        </h2>
                    </div>
                </div>
            </section>
            <!-- end word banner -->
            
	</th:block>

</body>

</html>