<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head></head>

<body>

	<th:block th:fragment="body-shop-banner">
	
			<!-- start shop banner -->
            <section class="section section--no-pt section--no-pb section--gutter">
                <div class="container-fluid px-md-0">
                    <!-- start banner simple -->
                    <div class="simple-banner simple-banner--style-2">
                        <div class="d-none d-lg-block">
                            <img class="img-logo img-fluid" th:src="@{/static/foorga-home/img/site_logo.png}" alt="demo" />
                        </div>

                        <div class="row no-gutters">
                            <div class="col-12 col-lg-6">
                                <img class="img-fluid w-100" th:src="@{/static/foorga-home/img/banner_bg_3.jpg}" alt="demo" />
                            </div>

                            <div class="col-12 col-lg-6">
                                <img class="img-fluid w-100" th:src="@{/static/foorga-home/img/banner_bg_4.jpg}" alt="demo" />
                            </div>
                        </div>
                    </div>
                    <!-- end banner simple -->
                </div>
            </section>
            <!-- end shop banner -->
            
	</th:block>

</body>

</html>