<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
    <th:block th:include="admin/layout/head :: head"></th:block>
    
</head>

<body>
  <div class="wrapper ">
        
    <div th:replace="profile/layout/leftNavProfile :: leftNavProfile"></div> 
    
    <div class="main-panel">
      <!-- Navbar -->
     	<div th:replace="admin/layout/HeadNavAdmin :: headNavAdmin"></div> 
      <!-- End Navbar -->
       <!-- content -->
       <div th:replace="components/profile/bill/waitting-confirm :: waitting-confirm"></div> 

        <!-- End content -->
        <div th:replace="profile/layout/footerProfile :: footerProfile"></div> 
    </div>
  </div>
  
        <th:block th:replace="admin/layout/footer :: footer"></th:block>
        <script th:inline="javascript">
				function clearFilter() {
					window.location = '/admin/account/list'
				}
				const bills = [[${ bills }]]
				console.log([[${ bills }]])
			</script>
    

</body>
</html>