<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head></head>

<body>

	<th:block th:fragment="body-form-signup">
       <!-- start form sign up -->
            <div class="col-12 col-md-6 col-lg-5 col-xl-4 offset-lg-1 offset-xl-2">
								<h2>Sign <span>Up</span></h2>

								<!-- start form -->
								<form class="auth-form" action="#">
									<div class="input-wrp">
										<input class="textfield" type="text" placeholder="Full name *" />
									</div>

									<div class="input-wrp">
										<input class="textfield" type="text" placeholder="Email *" />
									</div>

									<div class="input-wrp">
										<input class="textfield" type="text" placeholder="Password" />
									</div>

									<div class="input-wrp">
										<input class="textfield" type="text" placeholder="Confirm password" />
									</div>

									<div class="d-table mt-8">
										<div class="d-table-cell align-middle">
											<button class="custom-btn custom-btn--medium custom-btn--style-1" type="submit" role="button">Sign up</button>
										</div>

										<div class="d-table-cell align-middle">
											<a class="link-to" href="#">Sign in</a>
										</div>
									</div>
								</form>
								<!-- end form -->
							</div>
            <!-- end form sign up -->
	</th:block>

</body>

</html>