<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head></head>

<body>

    <th:block th:fragment="index-footer">
        <!--Index  -->

        <script th:src="@{/static/index-template/plugins/greensock/TweenMax.min.js}"></script>
        <script th:src="@{/static/index-template/plugins/greensock/TimelineMax.min.js}"></script>
        <script th:src="@{/static/index-template/plugins/scrollmagic/ScrollMagic.min.js}"></script>
        <script th:src="@{/static/index-template/plugins/greensock/animation.gsap.min.js}"></script>
        <script th:src="@{/static/index-template/plugins/greensock/ScrollToPlugin.min.js}"></script>
        <script th:src="@{/static/index-template/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
        <script th:src="@{/static/index-template/plugins/slick-1.8.0/slick.js}"></script>
        <script th:src="@{/static/index-template/plugins/easing/easing.js}"></script>
        <script th:src="@{/static/index-template/js/custom.js}"></script>
<!--         <script th:src="@{/static/index-template/js/product_custom.js}"></script> -->
		
        
          <!--  Notifications Plugin    -->
          	      <script th:src="@{/static/admin/js/core/bootstrap-material-design.min.js}"></script>
          
          <script th:src="@{/static/admin/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
		<script th:src="@{/static/admin/js/plugins/bootstrap-notify.js}"></script>
		  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
		<script th:src="@{/static/admin/js/material-dashboard.js?v=2.1.2}" type="text/javascript"></script>

        <script th:inline="javascript">
            let home = [[@{/}]];

            const list_cart_item = [[${cartitems}]];
            const count_cart_item = [[${total_cart_item}]];
            console.log(list_cart_item);
            console.log(count_cart_item);
            
            
            
            if (home.slice(home.length - 1) == "/") {
                home = home.slice(0, -1);
            }

            function addCart(product_id) {
            	if(!e) var e = window.event;
    		    e.cancelBubble = true;
    		    if (e.stopPropagation) e.stopPropagation();
				
    		    console.log(product_id)
    		    
                let token = $("meta[name='_csrf']").attr("content");
                let header = $("meta[name='_csrf_header']").attr("content");
                // let data = new Object();
                // data.product_id = product_id;
                let data = `{"product_id" : ${product_id}}`;
                // console.log(data);

                try {
                    let quantity = $('#quantity_input').val();
                    if (typeof quantity === 'undefined') {
                        
                    }
                    else {
                        data = `{"product_id" : ${product_id},"quantity" : ${quantity}}`;
                    }
                } catch (error) {

                }

                $.ajax({
                    url: `${home}/cart/add`,
                    type: 'PUT',

                    dataType: "json",
                    contentType: "application/json",

                    // data: JSON.stringify(`{"product_id" : ${product_id}}`),
                    data: data,
                    // data: JSON.stringify(data),

                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },

                    success: function (data, status, xhr) {
                    	md.showAddProductNoti('bottom','right',data.msg)
                    	$('#count').text(data.total_item)
                    	$('#total').text(data.total)
                    //   window.location.href = window.location.href;
                     },
                    error: function (request, status, error) {

                        try {
                            if (request.status == 405) {
                                window.location.href = `${home}/login`;
                            }
                            // console.log(request.status);
                            // console.log(status);
                            // console.log(error);
                            // window.location.href = `${home}/login`;
                        } catch (error) { }
                    }
                });

            }
            
            
        </script >
        
      <!--   <script th:inline="javascript">
	        document.querySelector(".super_container").style.height = "1000px";
	
	        window.addEventListener("scroll", function() {
	            var body = document.querySelector(".super_container");
	            var height = body.style.height;
	            height = height.slice(0, -2);
	            height = Number(height);
	            return function() {
	                if(height - window.scrollY < 700) {
	                    height += height / 2;
	                }
	                body.style.height = height + "px";	                
	            };
	        }() ); 
	       
        </script>-->
        		
    </th:block>

</body>

</html>