<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
</head>
<body>
	<th:block th:fragment="index-banner">
	<!-- Banner -->

		<div class="banner">
			<div class="banner_background"
				style="background-image: url(/static/index-template/images/banner_background.jpg)"></div>
			<div class="container fill_height">
				<div class="row fill_height">
					<div class="banner_product_image">
						<img th:src="@{static/template/ontech/images/banner_product.png}"
							alt="">
					</div>
					<div class="col-lg-5 offset-lg-4 fill_height">
						<div class="banner_content">
							<h1 class="banner_text">new era of smartphones</h1>
							<div class="banner_price">
								<span>$530</span>$460
							</div>
							<div class="banner_product_name">Apple Iphone 6s</div>
							<div class="button banner_button">
								<a href="#">Shop Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Characteristics -->
		<div class="characteristics">
			<div class="container">
				<div class="row">

					<!-- Char. Item -->
					<div class="col-lg-3 col-md-6 char_col">

						<div
							class="char_item d-flex flex-row align-items-center justify-content-start">
							<div class="char_icon">
								<img th:src="@{/static/template/ontech/images/char_1.png}" alt="">
							</div>
							<div class="char_content">
								<div class="char_title">Free Delivery</div>
								<div class="char_subtitle">from $50</div>
							</div>
						</div>
					</div>

					<!-- Char. Item -->
					<div class="col-lg-3 col-md-6 char_col">

						<div
							class="char_item d-flex flex-row align-items-center justify-content-start">
							<div class="char_icon">
								<img th:src="@{/static/index-template/images/char_2.png}" alt="">
							</div>
							<div class="char_content">
								<div class="char_title">Free Delivery</div>
								<div class="char_subtitle">from $50</div>
							</div>
						</div>
					</div>

					<!-- Char. Item -->
					<div class="col-lg-3 col-md-6 char_col">

						<div
							class="char_item d-flex flex-row align-items-center justify-content-start">
							<div class="char_icon">
								<img th:src="@{/static/index-template/images/char_3.png}" alt="">
							</div>
							<div class="char_content">
								<div class="char_title">Free Delivery</div>
								<div class="char_subtitle">from $50</div>
							</div>
						</div>
					</div>

					<!-- Char. Item -->
					<div class="col-lg-3 col-md-6 char_col">

						<div
							class="char_item d-flex flex-row align-items-center justify-content-start">
							<div class="char_icon">
								<img th:src="@{/static/index-template/images/char_4.png}" alt="">
							</div>
							<div class="char_content">
								<div class="char_title">Free Delivery</div>
								<div class="char_subtitle">from $50</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	
	</th:block>
</body>
</html>