<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>

</head>

<body>
	<th:block th:fragment="header-shop">
	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/shop_background.jpg"></div>
		<div class="home_overlay"></div>
		<div class="container">
		<div class="home_content d-flex flex-column align-items-left justify-content-left">
			<h2 class="home_title" th:text="${shop.name}"></h2>
			<h4><i class="fas fa-phone-alt"></i>&nbsp Phone: <span style="color:gray" th:text="${shop.phone}" ></span> </h4>
			<h4><i class="fas fa-envelope"></i>&nbsp Email: <span style="color:gray" th:text="${shop.email}" ></span> </h4>
			<h4><i class="fas fa-map-marked-alt"></i>&nbsp Address: <span style="color:gray" th:text="${shop.address}" ></span> </h4>
			<h4><i class="fas fa-info-circle"></i>&nbsp Detail: <span style="color:gray" th:text="${shop.detail}" ></span> </h4>
		</div>
		</div>
	</div>
	</th:block>
</body>
</html>