<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head></head>

<body>
	<th:block th:fragment="category-add">
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="card">
							<div class="card-header card-header-primary">
								<h4 class="card-title ">Category Add</h4>
							</div>
							<div class="card-body">
								<form >
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="bmd-label-floating">Category Name <span style="color: red" id="email-stt">
												</span></label> 
												<input type="text" class="form-control"
												id="addCategoryName"/>
											</div>
										</div>
										
									</div>
									

									<div class="card-footer"
										style="display: flex; flex-direction: row; justify-content: flex-end;">
										<button 
											type="button" 
											onClick="AddCategory()" 
											class="btn btn-success">Save <i class="fas fa-save"></i></button>
										
										<a th:href="@{/admin/category/list}" type="button"
											class="btn btn-danger"> Return 
											<i class="fas fa-sign-out-alt"></i>
										</a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				
	</th:block>
</body>

</html>