<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>

</head>

<body>
	<th:block th:fragment="shop-edit-product">
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8">
						<div class="card">
							<div class="card-header card-header-primary">
								<h3 class="card-title">Edit Your Product</h3>
							</div>
								<div class="card-body"
									style="padding-left: 100px; padding-right: 100px">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="bmd-label-floating">Product Name</label> <input
													id="name" name="name" type="text" class="form-control"
													th:value="${product.name}" />
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="bmd-label-floating">Category</label>
												<select class="form-control" id="category" name="category">
													<th:block th:each="category : ${categories}">
															<option
															th:attrappend="selected=${product.category_name.id == category.id}?'selected' "
															 th:value="${category.id}" th:text="${category.name}"></option>
													</th:block>
												</select>


											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="bmd-label-floating">Quantity</label> <input
													id="quantity" name="quantity" type="number"
													class="form-control" th:value="${product.quantity}"/>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="bmd-label-floating">Brand</label>
												<select class="form-control" id="brand" name="brand">
													<th:block th:each="brand : ${brands}">
															<option
															th:attrappend="selected=${product.brand_name.id == brand.id}?'selected' "
															 th:value="${brand.id}" th:text="${brand.name}"></option>														
													</th:block>
												</select>

											</div>
										</div>

									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="bmd-label-floating">Price</label> <input
													id="price" name="price" type="number"
													class="form-control" th:value="${product.price}" />
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="bmd-label-floating">Image</label> <input
													readonly="true" type="text" class="form-control" id="img"
													name="img" value="/static/product/default.png" />
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="bmd-label-floating">Details</label>
												<textarea class="form-control" rows="5" id="detail"><th:block th:text= ${product.detail}></th:block></textarea>

											</div>
									</div>
											<button type="button" class="btn btn-primary pull-right"
												>Edit Product</button>
<!-- 											<button class="btn btn-warning pull-right"
												data-toggle="modal" data-target="#deleteShop">Reset
												Field</button> -->
											<div class="clearfix"></div>
										</div>
										</div>
						</div>
					</div>
					<div class="col-md-4">
						<img alt="" src="">
					</div>
				</div>
			</div>
		</div>
		<!--         <th:block th:replace="components/vendor/shop/deleteShop-modal :: deleteShop-modal"></th:block> -->
		<script th:inline="javascript">	
		


		const account = [[${ current_account }]];
		const product = [[${product}]];
	//edit Shop
/* 		function editProduct() {
		    console.log("Start edit");
			console.log(product);
		    product.name = $("#name").val();
		    product.category = $("#category").val();
		    product.quantity = $("#quantity").val();
		    product.brand = $("#brand").val();
		    product.detail = $("#detail").val();
		    product.price = $("#price").val();
		    
		    
		    var token = $("meta[name='_csrf']").attr("content");
		    var header = $("meta[name='_csrf_header']").attr("content");
		    
		    console.log(product)
	
   		     $.ajax({
		        type: "PUT",
		        url: `/product/${product.id}`,
		        dataType: "json",
		        contentType: "application/json",
		        data: JSON.stringify(product),
	
		        beforeSend: function (xhr) {
		            xhr.setRequestHeader(header, token);
		        },
	
		        success: function (data, status, xhr) {
		        	//alert("Edit Shop Success!");
		        	window.location.href = "/shop/myproduct?mode=view";
		        },
		        error: function (request, status, error) {
		            alert(status + " " + error);
		           // window.location.href = window.location.href;
		        }
		    });    
	
		    console.log("End edit");
		} */
	
	
	//delete shop
	            function deleteShop() {
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");

                $.ajax({
                    url: `/shop`,
                    type: 'DELETE',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },

                    success: function (data, status, xhr) {
                        // alert(status);
                        // To reload the page discarding the POST data(perform a GET request)
                        window.location.href = window.location.href;
                    },
                    error: function (request, status, error) {
                        alert(status);
                        // To reload the page discarding the POST data(perform a GET request)
                        window.location.href = window.location.href;
                    }
                });
            }
		</script>

	</th:block>
</body>
</html>