<!DOCTYPE html>

<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head th:fragment="head">

    	<title th:text="${title}"></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui" />

		<meta name="theme-color" content="#FCDB5A" />
		<meta name="msapplication-navbutton-color" content="#FCDB5A" />
		<meta name="apple-mobile-web-app-status-bar-style" content="#FCDB5A" />

		<!-- Favicons
		================================================== -->
		

		<!-- Critical styles
		================================================== -->
		<link rel="stylesheet" th:href="@{/static/foorga-home/css/critical.min.css}" type="text/css">
		
		<!-- Main styles
		================================================== -->
		<link rel="stylesheet" th:href="@{/static/foorga-home/css/style.min.css}" type="text/css">


</head>

<body>

</body>

</html>