<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
    <th:block th:include="layout/head :: head"></th:block>
    <th:block th:include="index/layout/index-head :: index-head"></th:block>

<style>
.new_arrivals_title
{
	position: absolute;
	left: 0;
	top: 7px;
	font-size: 24px;
	font-weight: 500;
	margin-bottom: -29px;
}
</style>

</head>

<body>


    <div class="super_container">

        <div th:replace="index/layout/header_index :: header_index"></div>

        <div th:replace="index/layout/index-banner :: index-banner"></div>

        <div th:replace="index/hot-new-arrivals :: hot-new-arrivals"></div>

        <div th:replace="index/category/category :: category"></div>

        <div th:replace="index/category/popular-category :: popular-category"></div>

        <div th:replace="index/show-all-product :: show-all-product"></div>

        <div th:replace="index/layout/footer_index_template :: footer_index_template"></div>

    </div>

    <th:block th:replace="layout/footer :: footer"></th:block>
    <th:block th:replace="index/layout/index-footer :: index-footer"></th:block>

</body>

</html>