<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>

</head>

<body>
	<th:block th:fragment="product-detail">
		<div class="single_product">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 order-lg-1 order-2">
						<ul class="image_list">
							<li th:data-image="${product.img}"><img
								th:src="${product.img}" alt=""></li>
							<li th:data-image="${product.img}"><img
								th:src="${product.img}" alt=""></li>
							<li th:data-image="${product.img}"><img
								th:src="${product.img}" alt=""></li>
						</ul>
					</div>
					<!-- Selected Image -->
					<div class="col-lg-5 order-lg-2 order-1">
						<div class="image_selected">
							<span id="product_img"> <img
								style="height: 400px; width: 400px" th:src="${product.img}"
								th:onerror="this.onerror=null;this.src=[[@{/static/img/default.png}]];"
								alt="">
							</span>
						</div>
					</div>

					<!-- Description -->
					<div class="col-lg-5 order-3">
						<div class="product_description">
							<div style="text-transform: uppercase; line-height: normal;" class="product_name"
								th:text="${product.name}"></div>
							<div class="rating_r rating_r_4 arrivals_single_rating">
								<i></i><i></i><i></i><i></i><i></i>
							</div>
							<span>Shop:&nbsp</span><a style="font-size: 18px; color: gray"
								th:text="${shop.name}" th:href="@{'/shop/' + ${shop.id}}"></a>
								<br>
							<span>Category:&nbsp</span><a style="font-size: 18px; color: gray"
								th:text="${product.category_name.name}"></a>
								<br>
							<span>Brand:&nbsp</span><a style="font-size: 18px; color: gray"
								th:text="${product.brand_name.name}"></a>
							<br>
							<h3>Detail:</h3>
                            <div style="text-align: left" th:text="${product.detail}"></div>
                            <br>
							<div class="order_info d-flex flex-row mt-0">
								<form action="#">
									<div class="clearfix" style="z-index: 1000;">

										<!-- Product Quantity -->
										<div class="product_quantity clearfix">
											<span>Quantity: </span> <input id="quantity_input"
												type="text" pattern="[0-9]*" value="1" disabled>
											<div class="quantity_buttons">
												<div id="quantity_inc_button"
													class="quantity_inc quantity_control">
													<i class="fas fa-chevron-up"></i>
												</div>
												<div id="quantity_dec_button"
													class="quantity_dec quantity_control">
													<i class="fas fa-chevron-down"></i>
												</div>
											</div>
										</div>
									</div>
									<span style="color: red;"
										id="status-quantity"></span> <br> <span
										style="font-size: 20px; color: red; font-weight: bold">Price:</span>
									<div class="product_price" th:inline="text">$ [[${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}]]</div>
									<span id="status-quantity"></span>
									<div class="button_container">
										<button type="button" th:onclick="|addCart(__${product.id}__)|" class="button cart_button">Add
											to Cart</button>
										<div class="product_fav">
											<i class="fas fa-heart"></i>
										</div>
									</div>

								</form>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<script th:inline="javascript">
		const product = [[${product}]];
		const maxVal = [[${product.quantity}]];
		console.log(maxVal)
		
		
		</script>
	</th:block>
</body>
</html>