<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head></head>

<body>


	<th:block th:fragment="leftNavShop">
        <!-- data-image="../assets/img/sidebar-1.jpg" -->
		<div class="sidebar" data-color="azure" data-background-color="white">
			<!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
			<div class="logo">
				<a th:href="@{/}"
					class="simple-text logo-normal"> P2PO </a>
			</div>
			<th:block th:if="${shop != null}">
			<div class="sidebar-wrapper">
				<ul class="nav">
				
					<li th:classappend="${#request.getRequestURI() == '/shop/home' ? 'nav-item active' : 'nav-item'}">
					<a class="nav-link"
						th:href="@{/shop/home}"> <i class="material-icons">dashboard</i>
							<p>Dashboard</p>
					</a></li>
					<li th:classappend="${#request.getRequestURI().startsWith('/shop/myshop') ? 'nav-item active' : 'nav-item'}">
					<a class="nav-link" th:href="@{/shop/myshop}">
							<i class="material-icons">store</i>
							<p>My Shop</p>
					</a></li>
					<li th:classappend="${#request.getRequestURI().startsWith('/shop/myproduct') ? 'nav-item active' : 'nav-item'}">
					<a class="nav-link" th:href="@{/shop/myproduct?mode=view}">
							<i class="fas fa-box-open"></i>
							<p>My Products</p>
					</a></li>
					<li th:classappend="${#request.getRequestURI().startsWith('/shop/mybill') ? 'nav-item active' : 'nav-item'}">
					<a class="nav-link" th:href="@{/shop/mybills/waiting-payment}" 
						> <i class="material-icons">content_paste</i>
							<p>My Bill</p>
					</a></li>

				</ul>
			</div>
			</th:block>
		</div>
	</th:block>
</body>
</html>