<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head></head>

<body>
	<th:block th:fragment="account-table">
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="card">

							<div class="card-header card-header-primary">
								<h4 class="card-title ">Account Table</h4>
								<a th:href="@{/admin/account/add}" type="button" class="btn btn-danger"> add <i
										class="fas fa-plus-circle"></i>
								</a>

							</div>

							<div class="card-body">
								<div class="row">
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
										<form class="navbar-form"
											th:action="@{/admin/account/list(limit=${pageable.limit}, page=${1})}">
											<div class="input-group no-border">
												<input type="text" name="keyword" th:value="${keyword}"
													class="form-control" placeholder="Search..." required>
												<button type="submit" class="btn btn-white btn-round btn-just-icon">
													<i class="material-icons">search</i>
												</button>
												&nbsp;
												<button type="button" class="btn btn-default btn-round btn-just-icon"
													onclick="clearFilter()">
													<i class="fas fa-eraser"></i>
												</button>
												<div class="ripple-container">	
												</div>
											</div>
										</form>
									</div>
								</div>
								<hr />
								<div class="table-responsive">
									<table class="table">
										<thead class=" text-primary">
											<th>ID</th>
											<th>Name</th>
											<th>Username</th>
											<th>Email</th>
											<th>Phone</th>
											<th>Role</th>
											<th>Create_at</th>
											<th class="text-center">Action</th>
										</thead>
										<tbody>
											<tr th:if="${!accounts.empty or accounts != null}"
												th:each="account, i : ${accounts}">
												<td><span
														th:text="${i.count+(pageable.limit*(pageable.page -1))}"></span>
												</td>
												<td><span th:text="${account.name}"></span></td>
												<td><span th:text="${account.username}"></span></td>
												<td><span th:text="${account.email}"></span></td>
												<td><span th:text="${account.phone}"></span></td>
												<td>
													<th:block th:if="${account.roles != null}"
														th:each="role, j : ${account.roles}">
														<th:block th:if="${j.count > 1}">- </th:block>
														<th:block th:if="${role.name == 'ROLE_ADMIN'}">
															<th:block th:text="Admin"></th:block>
														</th:block>
														<th:block th:if="${role.name == 'ROLE_USER'}">
															<th:block th:text="User"></th:block>
														</th:block>
														<th:block th:if="${role.name == 'ROLE_VENDOR'}">
															<th:block th:text="Vender"></th:block>
														</th:block>
													</th:block>
												</td>
												<td><span th:text=" ${account.createAt} ? ${#dates.format(account.createAt, 'dd-MM-yyyy')} "></span></td>
												<td class="text-center"><span> <a type="button" rel="tooltip" title="View account"
														th:href="@{'/admin/account/' + ${account.id}}"
														class="btn btn-large btn-info  btn-just-icon"> <i class="fa fa-eye">
														</i>
													</a>
												</span> <span>
														<button 
														rel="tooltip" title="Delete account"
														type="button" class="btn  btn-danger  btn-just-icon"
															th:onclick="|DeleteAccount(${i.index})|">
															<i class="fas fa-trash-alt"></i>
														</button>
												</span></td>
											</tr>
										</tbody>
									</table>
									<div th:if="${pageable.totalPages > 0}" style="display: flex; align-items: center;">
										<div class="btn-group">
											<button type="button" style="background-color: #2196f3"
												class="btn btn-sm btn-default" th:text="${pageable.limit}"></button>
											<button type="button" style="background-color: #2196f3"
												class="btn btn-default dropdown-toggle dropdown-toggle-split"
												data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false">
												<span class="sr-only">Toggle Dropdown</span>
											</button>
											<div class="dropdown-menu">
												<a class="dropdown-item"
													th:href="@{/admin/account/list(limit=${10}, page=${1}, keyword=${keyword}) }">10</a>
												<a class="dropdown-item"
													th:href="@{/admin/account/list(limit=${25}, page=${1}, keyword=${keyword})}">25</a>
												<a class="dropdown-item"
													th:href="@{/admin/account/list(limit=${50}, page=${1}, keyword=${keyword})}">50</a>
											</div>
										</div>
										<nav  class="pagination">
											<ul class="pagination" style="margin-bottom: 0px;">
												<li
													th:class="${pageable.preMaxPage > 0} ? 'page-item ' : 'page-item disabled'">
													<a class="page-link" th:with="result=${ pageable.page - 1}"
													th:href="@{/admin/account/list(limit=${pageable.limit}, page=${result}, keyword=${keyword})}">Previous</a>
												</li>
												<input type="hidden" name="" id="input" class="form-control" value="">
												<li th:each="item : ${pageable.items}"
													th:class="${item.current == true} ? 'page-item active' : 'page-item'">
													<!--  --> <a
													th:href="@{/admin/account/list(limit=${pageable.limit}, page=${item.number}, keyword=${keyword})}"
													class="page-link" th:text="${item.number}"> </a>
												</li>
												<li
													th:class="${pageable.nextMaxPage > 0} ? 'page-item ' : 'page-item disabled'">
													<a class="page-link" th:with="result=${ pageable.page + 1}"
													th:href="@{/admin/account/list(limit=${pageable.limit}, page=${result}, keyword=${keyword})}">Next</a>
												</li>
											</ul>
										</nav>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script th:inline="javascript">
				function clearFilter() {
					window.location = '/admin/account/list'
				}
				const account = [[${ accounts }]]
				console.log([[${ pageable }]])
			</script>
	</th:block>

</body>

</html>