<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head></head>

<body>
    <th:block th:fragment="shop-accept-table">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">

                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Shop Table</h4>
                                <div th:replace="components/admin/shop/head-nav-shop-table :: head-nav-shop-table">
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>ID</th>
                                            <th>Owner name</th>
                                            <th>Shop name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Create_at</th>
                                            <th class="text-center">Action</th>
                                        </thead>
                                        <tbody>
                                            <tr th:if="${!shops.empty or shops != null}" th:each="shop, i : ${shops}">
                                                <td><span
                                                        th:text="${i.count+(pageable.limit*(pageable.page -1))}"></span>
                                                </td>
                                                <td><span th:text="${shop.username}"></span></td>
                                                <td><span th:text="${shop.name}"></span></td>
                                                <td><span th:text="${shop.email}"></span></td>
                                                <td><span th:text="${shop.phone}"></span></td>
                                                <td><span th:text=" ${shop.createAt} ? ${#dates.format(shop.createAt, 'dd-MM-yyyy')} "></span></td>
												<td class="text-center"><span> 
													<a type="button"
														th:href="@{'/shop/' + ${shop.id}}"
														rel="tooltip" title="View shop"
														class="btn btn-large btn-info btn-just-icon" target="_blank"> <i class="fa fa-eye">
														</i>
													</a>
												</span> 
												 <span>
														 <button type="button" class="btn btn-success btn-just-icon" 
														 th:onclick="|acceptShop(${i.index})|"
														  
														 rel="tooltip" title="Active shop"
														 >
															<i class="fas fa-plus-circle"></i>
														</button>
													
												</span></td>
											</tr>

										</tbody>
									</table>
									<div style="display: flex; align-items: center;">
										<div class="btn-group">
											<button type="button" style="background-color: #2196f3"
												class="btn btn-sm btn-default" th:text="${pageable.limit}"></button>
											<button type="button" style="background-color: #2196f3"
												class="btn btn-default dropdown-toggle dropdown-toggle-split"
												data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false">
												<span class="sr-only">Toggle Dropdown</span>
											</button>
											<div class="dropdown-menu">
												<a class="dropdown-item"
													th:href="@{/admin/shop/accept-list(limit=${10}, page=${1})}">10</a>
												<a class="dropdown-item"
													th:href="@{/admin/shop/accept-list(limit=${25}, page=${1})}">25</a>
												<a class="dropdown-item"
													th:href="@{/admin/shop/accept-list(limit=${50}, page=${1})}">50</a>
											</div>
										</div>
										<nav th:if="${pageable.totalPages > 0}" class="pagination">
											<ul class="pagination" style="margin-bottom: 0px;">
												<li
													th:class="${pageable.preMaxPage > 0} ? 'page-item ' : 'page-item disabled'">
													<a class="page-link" th:with="result=${ pageable.page - 1}"
													th:href="@{/admin/shop/accept-list(limit=${pageable.limit}, page=${result})}">Previous</a>
												</li>

												<li th:each="item : ${pageable.items}"
													th:class="${item.current == true} ? 'page-item active' : 'page-item'">
													<a
													th:href="@{/admin/shop/accept-list(limit=${pageable.limit}, page=${item.number})}"
													class="page-link" th:text="${item.number}"> </a>
												</li>
												<li
													th:class="${pageable.nextMaxPage > 0} ? 'page-item ' : 'page-item disabled'">
													<a class="page-link" th:with="result=${ pageable.page + 1}"
													th:href="@{/admin/shop/accept-list(limit=${pageable.limit}, page=${result})}">Next</a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
        console.log([[${ pageable }]])
      </script>
	</th:block>

</body>

</html>